<div class="example-container">
  <h3>{{titulo}}</h3>
  <form class="example-form" [formGroup]="parts" (ngSubmit)="onSubmit()">
    <mat-form-field class="example-full-width">
      <input matInput placeholder="userId" formControlName="userId">
      <mat-error *ngIf="parts.get('userId')?.invalid">El valor de userId es obligatorio</mat-error>
    </mat-form-field>
    <mat-form-field class="example-full-width">
      <input matInput placeholder="Title" formControlName="title">
      <mat-error *ngIf="parts.get('title')?.invalid">El valor de title es obligatorio</mat-error>
    </mat-form-field>
    <mat-form-field class="example-full-width">
      <input matInput placeholder="Body" formControlName="body" >
      <mat-error *ngIf="parts.get('body')?.invalid">El valor de body es obligatorio</mat-error>
    </mat-form-field>
    <button type="submit" class="btn btn-primary" >Submit</button>
  </form>
</div>
<div *ngIf="is_edit" class="example-container">
  <div *ngIf="!producto">
    <p>Cargando producto</p>
  </div>
  <div *ngIf="producto">
    <div class="col-lg-4">
      <label>UserId:</label>
      <h5>{{producto.userId}}</h5>
    </div>
    <div class="col-lg-8">
      <h3>{{producto.id}}</h3>
      <p>
        <strong>{{producto.title}}</strong>
      </p>
      <p>{{producto.body}}</p>
    </div>
  </div>
</div>
