<div id="content" class="col-lg-10 col-lg-offset-1">
  <header id="header" class="col-lg-12">
    <h1>
      {{title}}
    </h1>
  </header>
  <nav id="nav" class="col-lg-12">
    <ul>
      <li>
        <a href="#">Home</a>
      </li>
      <li>
        <a href="#">Producto</a>
      </li>
      <li>
        <a href="#">Crear Productio</a>
      </li>
    </ul>
  </nav>
  <section id="main" class="col-lg-12">
    <!-- Component Actual -->
    <app-home></app-home>
  </section>
  <footer id="footer" class="col-lg-12">
    <p>Curso de Angular 5 - jantoniogc</p>
  </footer>
</div>
